$grayscaleFilter: grayscale(100%);

@import "./navbar";

.about-header {
  font-size: 50px;
  margin: 70px 0;
  text-transform: uppercase;
}

.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .about-intro {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
  }
  .about-photo img {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  .about-content {
    max-width: 350px;
    margin-top: 30px;
  }
  .skills-icons {
    max-width: 500px;
    margin: 0 auto;
  }
  .skill-icon {
    margin: 0 0 35px 20px;
    filter: $grayscaleFilter;
    &:hover {
      filter: none;
    }
  }
  .about-skills {
    margin: 50px 0 50px 60px;
  }
  .skills-header h4 {
    margin-bottom: 50px;
  }
  .skills-header h4,
  .about-resume h4 {
    font-weight: bold;
    text-transform: uppercase;
  }
  .about-resume h4 {
    margin: 50px 0 50px 0;
  }
}

@media (max-width: 800px) {
  .about-header {
    margin-top: 50px;
  }
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    .about-intro {
      margin-right: 0;
      max-width: 350px;
    }
    .about-skills {
      margin-left: 0;
      .skills-header {
        margin: 20px 0;
      }
      .skills-icons {
        max-width: 350px;
      }
    }
  }
}
