.about-header {
  font-size: 50px;
  margin: 80px 0;
  text-transform: uppercase;
}

.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .about-intro {
    padding: 35px;
    border-radius: 10px;
    box-shadow: $boxShadow;
    margin-right: 25px;
  }
  .about-photo img {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  .about-content {
    max-width: 350px;
    margin-top: 30px;
    h2 {
      font-weight: bolder;
    }
  }
  .about-skills {
    margin-left: 50px;
    .skills-header h4 {
      margin: 10px 0 35px 0;
    }
    .skills-icons {
      max-width: 500px;
      margin: 0 auto;
      .skill-icon {
        margin: 0 0 25px 20px;
        filter: $grayscaleFilter;
        &:hover {
          filter: none;
        }
      }
    }
    .skills-header h4,
    .about-resume h4 {
      font-weight: bold;
      text-transform: uppercase;
    }
    .about-resume h4 {
      margin: 15px 0 30px 0;
    }
  }
}

@media (max-width: 800px) {
  .about-header {
    margin-top: 50px;
  }
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    .about-intro {
      margin-right: 0;
      max-width: 350px;
    }
    .about-skills {
      margin-left: 0;
      .skills-header {
        margin: 50px 0;
      }
      .skills-icons {
        max-width: 350px;
      }
    }
  }
}
