$standardColor: #000;
$firstColor: #5e6043;
$secondColor: #fcfcfb;
$thirdColor: #f7f7f7;
$grayscaleFilter: grayscale(100%);
$boxShadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.15);
