.connect-information {
  box-shadow: $boxShadow;
  border-radius: 10px;
  display: block;
  margin: 100px auto;
  text-align: center;
  flex-wrap: wrap;
  max-width: 450px;
  padding: 40px;
  transition: 0.5s;
  &:hover {
    transform: translateY(-25px);
  }
  h1 {
    margin: 30px 0 50px 0;
    text-transform: uppercase;
  }
  p {
    margin: 30px 0;
    font-weight: bolder;
  }
  .email-icon {
    color: $standardColor;
    margin-right: 10px;
    font-size: 20px;
    &:hover {
      color: $firstColor;
    }
  }
  .connect-icons {
    font-size: 20px;
    color: $standardColor;
    margin: 30px 0;
    padding: 0px 20px;
    &:hover {
      color: $firstColor;
    }
  }
}

@media (max-width: 800px) {
  .connect-information {
    max-width: 350px;
    h5 {
      font-size: 16px;
    }
  }
}
