.main-content {
  @include position(50%);
  transform: translateX(50%);
  transform: translateY(60%);
  text-align: center;
  z-index: 100;
  h1 {
    font-size: 80px;
    text-transform: uppercase;
  }
}

@media (max-width: 800px) {
  .main-content {
    transform: translateY(45%);
  }
}
