.main-content {
  height: 100vh;
  background: url(../images/main-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 100;
  .introduction {
    padding-top: 150px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .main-content .introduction {
    padding-top: 100px;
  }
}
