* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  margin: 0 4em;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #5e6043;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
}

nav li .active {
  color: #5e6043;
}

nav li a {
  margin-left: 40px;
  text-decoration: none;
  color: #000;
}

nav li a:hover {
  color: #5e6043;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

@media (max-width: 800px) {
  nav {
    margin: 0 1em;
  }
  nav li a {
    margin-left: 15px;
  }
}

.main-content {
  height: 100vh;
  background: url(../images/main-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 100;
}

.main-content .introduction {
  padding-top: 150px;
}

.main-content h1 {
  text-transform: uppercase;
  font-size: 75px;
  text-align: center;
}

@media (max-width: 800px) {
  .main-content .introduction {
    padding-top: 100px;
  }
}

.about-header {
  font-size: 50px;
  margin: 80px 0;
  text-transform: uppercase;
}

.about-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-intro {
  padding: 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-right: 25px;
}

.about-container .about-photo img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.about-container .about-content {
  max-width: 350px;
  margin-top: 30px;
}

.about-container .about-content h2 {
  font-weight: bolder;
}

.about-container .about-skills {
  margin-left: 50px;
}

.about-container .about-skills .skills-header h4 {
  margin-bottom: 35px;
}

.about-container .about-skills .skills-icons {
  max-width: 500px;
  margin: 0 auto;
}

.about-container .about-skills .skills-icons .skill-icon {
  margin: 0 0 35px 15px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-container .about-skills .skills-icons .skill-icon:hover {
  -webkit-filter: none;
          filter: none;
}

.about-container .about-skills .skills-header h4,
.about-container .about-skills .about-resume h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.about-container .about-skills .about-resume h4 {
  margin: 30px 0;
}

@media (max-width: 800px) {
  .about-header {
    margin-top: 50px;
  }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  .about-container .about-intro {
    margin-right: 0;
    max-width: 350px;
  }
  .about-container .about-skills {
    margin-left: 0;
  }
  .about-container .about-skills .skills-header {
    margin: 50px 0;
  }
  .about-container .about-skills .skills-icons {
    max-width: 350px;
  }
}

.work-main-header {
  font-size: 50px;
  margin: 80px 0;
  text-transform: uppercase;
}

.work-container {
  margin: 0 auto;
  margin-bottom: 150px;
  max-width: 1200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-container .work {
  border: 1px solid #ddd;
  position: relative;
  width: 350px;
  height: 350px;
  margin: 20px;
  overflow: hidden;
}

.work-container .work-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.work-container .work-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fcfcfb;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.work-container .work:hover .work-info::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.work-container .content {
  position: relative;
  padding: 30px 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  color: #000;
  z-index: 100;
}

.work-container .work:hover .work-info .content {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.work-container .work-section-header {
  margin: 10px 0 10px 0;
  text-align: center;
}

.work-container .work-links a {
  color: #5e6043;
  padding-right: 10px;
  font-size: 20px;
}

@media (max-width: 800px) {
  .work-main-header {
    margin: 50px 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  padding: 30px 3.5em;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #000;
  padding-right: 10px;
}

footer a:hover {
  color: #5e6043;
}

footer .top a {
  color: #000;
}

footer .top a:hover {
  color: #5e6043;
}

@media (max-width: 400px) {
  .top {
    display: none;
  }
}

.connect-information {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: block;
  margin: 100px auto;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  padding: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.connect-information:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.connect-information h1 {
  margin: 30px 0 50px 0;
  text-transform: uppercase;
}

.connect-information p {
  margin: 30px 0;
  font-weight: bolder;
}

.connect-information .email-icon {
  color: #000;
  margin-right: 10px;
  font-size: 20px;
}

.connect-information .email-icon:hover {
  color: #5e6043;
}

.connect-information .connect-icons {
  font-size: 20px;
  color: #000;
  margin: 30px 0;
  padding: 0px 20px;
}

.connect-information .connect-icons:hover {
  color: #5e6043;
}

@media (max-width: 800px) {
  .connect-information {
    max-width: 350px;
  }
  .connect-information h5 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */